* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Header Styles */

header {
    background: #FFFFFF;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;
    position: relative;
}

.banner-title {
    text-align: right;
    font-weight: 1000;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 250px;
    padding-top: 80px;
    color: #151414;
}

.banner-description {
    text-align: right;
    font-size: 15px;
    margin-right: 250px;
    color: #444343;
    line-height: 25px;
}

.contact-button {
    padding: 10px 15px;
    background: orangered;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

/* Main Styles & Blog Styles */

main h2 {
    text-align: right;
    font-size: 30px;
    font-weight: 800;
    margin-right: 150px;
    color: #151414;
}

main p {
    color: #444343;
    line-height: 25px;
}

.parent-div {
    display: flex;
    margin: 0px 190px;
    padding-left: 50px;
}

.parent-div img {
    width: 400px;
}

.blog{
    margin-top: 100px;
}

.blog-one-right {
    margin: 70px;
}

.blog-one-title {
    padding-bottom: 20px;
}

.blog-one-description {
    padding-bottom: 20px;
}

.ul-list-items {
    list-style: none;
    line-height: 25px;
    color: #444343;
}

ul li:before {
    padding:0 5px;
    content: '✓';
    color: #50C878;
}

.border {
    border: 2px blue dashed;
}

.mr-0 {
    margin-right: 250px;
    margin-top: 50px;
}

.ml-auto {
    margin-left: auto;
}

.d-block {
    display: block;
}

/* My Plan Styles */

.section-title {
    text-align: center;
    padding-top: 90px;
    margin: 0px;
}

.section-div-container {
    margin: 45px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.section-div-container p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 550;
    color: #444343;
}

.section-div-container h4 {
    padding-top: 20px;
}

/* Gradient Styles*/

.gradient-parent {
    height: 200px;
    width: 90%;
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    opacity: 0.9;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    margin-left: 170px;
    margin-top: 80px;
}

.gradient-parent h2 {
    color: #FFFFFF;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-left: 30px;
}

.call-button {
    color: orangered;
    background: #FFFFFF;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}

/* Footer Styles */

.footer-parent {
    display: flex;
    background: #151414;
    margin: 100px 0px;
    margin-bottom: 0px;
    justify-content: space-between;
    padding: 80px 180px;
}

.footer-parent h2 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 1000;
}

.footer-parent p {
    color: #FFFFFF;
    padding-top: 20px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 550;
}

.social-media {
    display: flex;
    padding-top: 10px;
}

.social-media img {
    padding: 0px 5px 0px 5px;
}

.email-class {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 545;
    background: #151414;
    margin-top: 25px;
}

.email-class::placeholder {
    color: #FFFFFF;
}

.subscribe h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subscription-button {
    display: block;
    margin-top: 15px;
    color: orangered;
    background: #FFFFFF;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 5px;
}